@import url("https://fonts.googleapis.com/css2?family=Lato&family=Prompt:wght@600&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: rgb(255, 255, 255);
  background: linear-gradient(360deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.6558998599) 25%, rgb(209, 247, 255) 70%, rgb(0, 212, 255) 100%);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin: 0 3px 0 3px;
  padding: 2px;
  border: 2px solid black;
  border-radius: 10px;
  top: 0;
}
header ul, header nav nav-tabs {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  justify-content: space-around;
}
header ul a, header nav nav-tabs a {
  text-decoration: none;
  color: black;
}

h1, h4, h3, h2 {
  font-weight: bolder;
  font-family: "Lato", sans-serif;
  margin: 10px;
  border: 2px solid lightskyblue;
  border-radius: 3px;
  padding: 5px;
}
h1 h1, h4 h1, h1 h4, h4 h4, h3 h1, h3 h4, h1 h3, h4 h3, h3 h3, h2 h1, h2 h4, h2 h3 {
  font-size: x-large;
}
h1 h2, h4 h2, h3 h2, h2 h2 {
  border: 2px solid lightskyblue;
  font-size: larger;
}

h3 {
  padding: 10px;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
  font-size: large;
  border: solid white;
}

h3:hover {
  border: solid lightblue;
  transform: scale(1.1);
  transition: all 1s;
}

h4 {
  font-size: smaller;
}

p {
  font-family: "Roboto", sans-serif;
  margin: 3px 5px 3px 5px;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 15px;
}
p a {
  text-decoration: underline;
}

div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

img {
  display: flex;
  flex-flow: column wrap;
  margin: 5px;
  border: 3px darkgray;
  border-radius: 15px;
  width: 70%;
}

iframe {
  display: flex;
  flex-flow: row wrap;
  margin: 5px;
  border: 1px solid darkgray;
  border-radius: 4px;
  width: 80%;
  align-items: center;
}

label {
  margin: 5px 1px 5px 5px;
}

input {
  margin: 10px;
  align-items: center;
}

footer {
  grid-area: footer;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 10px;
  background-color: lightskyblue;
}

.dropdown-item {
  color: black;
  font-weight: bolder;
}

.dropdown-item:hover {
  transform: scale(1.1);
}

.transf:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.Historia, .Festivales, .Estilo {
  display: flex;
  flex-flow: column nowrap;
  margin: 3px;
  border: 3px solid black;
  padding: 10px;
}

.Formulario {
  grid-area: Formulario;
  font-family: "Lato", sans-serif;
  margin: 10px 3px 20px 3px;
  border: 3px solid black;
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
}

.dj, .padre, .padreH {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid darkgray;
}

.dj {
  padding: 20px;
}

.padre {
  padding-bottom: 40px;
}

.fest {
  margin-bottom: 40px;
}

.transimg:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.padreDjs {
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 20px;
  align-items: center;
}

.padreH {
  padding: 5px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 5px;
}

.padreH2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.imgH {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.imgH2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.header {
  grid-area: header;
}

.Historia {
  grid-area: Historia;
}

.Festivales {
  grid-area: Festivales;
}

@media (max-width: 1024px) {
  .body {
    display: grid;
    grid-template-areas: "header     header" "Historia   Historia" "Festivales Festivales" "Formulario Formulario" "footer     footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 10fr 3fr 1fr;
    height: 10vh;
    width: 100%;
    gap: 5px;
  }
}
@media (max-width: 768px) {
  nav ul {
    display: flex;
    flex-flow: column wrap;
  }
  .padreDjs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .imgH, .imgH2, .iframeH, .dj {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  body {
    display: grid;
    grid-template-areas: "header" "Historia" "Festivales" "Formulario" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 10fr 3fr 1fr;
    height: 10vh;
    width: 100%;
    gap: 1px;
  }
  nav ul {
    display: flex;
    flex-flow: column wrap;
  }
  .padreH, .padreDjs, .dj {
    display: grid;
    grid-template-columns: 1fr;
  }
  .imgH, .imgH2, .iframeH, .dj {
    display: grid;
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */